/***** General *****/
html{
    height:100%;
}
body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    height:100%;
}

:focus {
    outline: 0 !important
}

strong { 
	font-weight: 600; 
}

a, a:hover, a:focus {
	color: #FF6065;/*color-alternative, links*/
	text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h2 {
	margin-top: 10px;
    font-family: 'Dosis', sans-serif;
	color: #fff;
    font-size: 52px;
    font-weight: 400;
    line-height: 56px;
}

h3 {
	margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
	color: #fff;
    font-size: 32px;
    font-weight: 300;
    line-height: 36px;
}

img { max-width: 100%; }

::-moz-selection { background: #ccc; color: #fff; text-shadow: none; }
::selection { background: #ccc; color: #fff; text-shadow: none; }

/***** Buttons *****/

.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: 0;
	color: #fff;
}

/*
.btn {
  border-radius: 0px;
  margin-bottom: 20px;
    font-weight: 600;
    font-family: 'Dosis', sans-serif;
}
*/
label.list-group-item{
    text-align:left;
}
.btn-lg {
	display: inline-block;
	height: 52px;
    margin:20px;
    padding: 0 20px;
	background: #FF797E;
    font-size: 22px;
    line-height: 48px;
    color: #fff;
}

.btn-lg:hover, .btn-lg:focus, .btn-lg:active, .btn-lg.active {
	background: #FF6065;
	color: #fff;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.btn-primary {
	display: inline-block;
	height: 52px;
	margin: 0;
    margin-bottom:40px;
    padding: 0 20px;
/*    background: none;*/
  border: 1px solid #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 48px;
    color: #fff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
	background: #fff;
	color: #FF6065;
  border: 1px solid #fff;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.btn-top {
	display: inline-block;
	height: 52px;
    margin:20px;
    padding: 0 20px;
	background: #FF797E;
    font-size: 18px;
    line-height: 48px;
    color: #fff;
}

.btn-top:hover, .btn-top:focus, .btn-top:active, .btn-top.active {
	background: #FF6065;
	color: #fff;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.btn-top-white {
	display: inline-block;
	height: 52px;
    margin:20px;
    padding: 0 20px;
	background: none;
    font-size: 18px;
    line-height: 48px;
    color: #fff;
    border: 1px solid rgba(255,255,255,0.5);
}

.btn-top-white:hover, .btn-top-white:focus, .btn-top-white:active, .btn-top-white.active {
	background: #323A45;
    border: 1px solid #323A45;
	color: #fff;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

/***** Form elements *****/

.themed-form .form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.themed-form .form-control:focus {
  border-color: #E3E3E3;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}


.themed-form input[type="text"],
.themed-form textarea {
    margin: 0;
    padding: 0 10px;
    vertical-align: middle;
	background: #f5f5f5;
    border: none;
    border-bottom: 1px solid #E3E3E3;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #999;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.themed-form input[type="text"]:focus, 
.themed-form textarea:focus {
	outline: 0;
    border: none;
    border-bottom: 1px solid #E3E3E3;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.themed-form input[type="text"]:-moz-placeholder, 
.themed-form textarea:-moz-placeholder { color: #888; 
}

.themed-form input[type="text"]:-ms-input-placeholder, 
.themed-form textarea:-ms-input-placeholder { 
color: #888; 
}

.themed-form input[type="text"]::-webkit-input-placeholder, 
.themed-form textarea::-webkit-input-placeholder { 
color: #888; 
}

.btn-subscribe, 
.btn-contact {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    background: #FF6065;
    border: 0;
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 52px;
    color: #fff;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.btn-subscribe:hover, 
.btn-contact:hover {
    background: #FF797E;
    color: #fff;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.btn-subscribe:active, 
.btn-contact:active {
	outline: 0;
    background: #FF797E;
    color: #fff;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-subscribe:focus, 
.btn-contact:focus {
	outline: 0;
	color: #fff;
}

/***** Top menu *****/

.navbar-default {
    font-family: 'Dosis', sans-serif;
    border:none;
    border-radius: 0;
    margin-bottom: 0;
    width:100%;
    min-height: 70px;
    padding: 20px 0;
    box-shadow: -1px 1px 1px rgba(0,0,0,0.1);
    background: #fff;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #FF6065 !important;
    background-color: transparent;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #FF6065 !important;
    background-color: transparent;
}
.navbar-brand{
    font-weight: 700;
    color: #FF6065 !important; /*color-alternative, brand*/
    font-size: 22px;
    line-height: 20px;
}
.navbar-default .navbar-nav>li>a {
    color: #323A45;
    font-weight: 700;
    font-size: 16px;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #FF6065 !important;

}

.navbar-default.menu-top{
    background-color: transparent;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    box-shadow: none;
    width:100%;
}
.navbar-default.menu-shrink{
    padding: 10px 0;
	background-color: #fff;
    border-bottom: 2px solid #eee;
    width:100%;
}

.navbar-default.menu-top li a{
    color: #f3f3f3 !important;
}
.navbar-default.menu-top .navbar-brand{
    color: #f3f3f3 !important;
}
.navbar-default.menu-shrink .navbar-brand{
    color: #323A45 !important;
}

.navbar-default.menu-shrink li a{
    color: #323A45 !important;
}

.navbar-default .navbar-toggle {
  border-color: #323A45;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #323A45;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #FF6065;
}


/***** Top content *****/


.top-content {
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

.inner-bg {
    padding: 0;
    padding-top: 100px;
    padding-bottom: 180px;
    background: url("/assets/img/pattern.png") repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}

.top-content .text {
    padding-top: 50px;
}


.top-content h2 {
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    line-height: 80px;
    margin: 10px 0 10px 0;
    font-weight: 600; 
}


.top-content .description {
    margin: 40px 0 10px 0;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400; 
    text-align:justify;
}
.top-content .description .hint{
    display:none;
}
.top-content .top-button {
    margin-top: 40px;
    margin-bottom: 40px;
}
.downarrow {
  border: 1px solid #eee;
  border-radius: 50%;
  color: #eee;
  text-align: center;
  
  bottom: 2.5%;
  display: block;
  right: 2.5%;
 /* margin-left: -50px;*/
  position: absolute;
  z-index:1;
  
  height: 100px;
  line-height: 100px;
  width: 100px;
  
  animation: a 4s infinite;
  
  transition: bottom 1s ease;  
}
/*.downarrow.visible {
  bottom: 20px;
}*/

.downarrow>.arrow-inner {
  border-right: 2px solid #eee;
  border-bottom: 2px solid #eee;
  border-radius: 2px;
  color: #eee;
  display: inline-block;
  font-size: 0;
  height: 50px;
  line-height: 0;
  margin-top: -25px;
  text-align: center;
  vertical-align: middle;
  width: 50px;
  
  transform: rotate(45deg);
}


@keyframes arrow-inner {
  /*0%   { opacity: .3; }
  50%   { opacity: 1; }
  100% { opacity: .3; }*/
  
  0%   { border-color: #eee; }
  50%   { border-color: #555: }
  100% { border-color: #eee; }

}
/***** Features *****/


.features-container {
    margin: 0 auto;
    padding-bottom: 60px;
    color: #888;
    text-align: center;
}

.features {
    margin-top: 60px;
    padding-bottom: 10px;
}



.follow-ups {
   display: -webkit-flex; /* Safari */
    display: flex;/**/
}
.follow-ups p {
    text-align:justify;
}
.features-box{
   -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */    
    flex: 1;

	text-align: center;
	background: transparent;
    border-right: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
	padding-top: 40px;
	padding-bottom: 40px;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.features-box:hover{
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.features-box h4 {
	padding: 10px 0;
	font-size: 30px;
    font-weight: 300;
    color: #444;
    line-height: 35px;
}

.features-box p {
	padding: 0 24px;
	font-size: 14px;
    line-height: 24px;
}

.features-box .icon{
	position: relative;
	text-align: center;
	display: inline-block;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;


}

.features-box .icon i{
	color: #313538;
	font-size: 48px;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;

  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  /*text-transform: none;*/
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.features-box:hover .icon{
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.features-box:hover .icon i{
	color: #FF6065;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}




/***** Product *****/



.intro-container {
    margin: 0 auto;
	padding-top: 60px;
    padding-bottom: 60px;
    color: #888;
    text-align: center;
}

.intro-box-left {
	text-align: right;
	background: transparent;
	margin-top: 20px;
	margin-bottom: 20px;
}

.intro-box-left h4 {
	padding: 10px 0;
	margin-top: 50px;
	font-size: 17px;
    font-weight: 600;
    color: #FF6065;
    line-height: 20px;
}

.intro-box-left p {
	font-size: 14px;
    line-height: 24px;
}

.intro-box-right {
	text-align: left;
	background: transparent;
	margin-top: 20px;
	margin-bottom: 20px;
}

.intro-box-right h4 {
	padding: 10px 0;
	margin-top: 50px;
	font-size: 17px;
    font-weight: 600;
    color: #FF6065;
    line-height: 20px;
}

.intro-box-right p {
	font-size: 14px;
    line-height: 24px;
}

.intro-box-img {
	text-align: center;
	background: transparent;
	margin-top: 40px;
	margin-bottom: 20px;
}


/***** Testimonials *****/
/*
.testimonials {
    margin-top: 60px;
    padding-bottom: 70px;
    text-align: center;
}

.testimonials h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 300;
    color: #555;
    line-height: 36px;
}

.testimonials p {
	margin-top: 30px;
    font-size: 22px;
    color: #888;
    line-height: 36px;
}

.reviews {
    margin-top: 30px !important;
    margin-bottom: 30px;
}
.reviews .review p {
    color: #888;
    font-size: 17px;
    line-height: 22px;
    font-weight: 300;
}
.reviews .review-author {
    margin-left: 20px;
    margin-top: -15px;
    font-size: 14px;
}
.reviews .review-author p {
    line-height: 20px;
    text-align: left;
}
.reviews .review-author strong {
    color: #FF797E;
    font-size: 14px;
}
.reviews .review-author span {
    color: #888;
    font-size: 14px;
}

.reviews-panel {
    background-color: #f4f4f4;
    border-bottom: 2px solid #E5E6EA;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.reviews-panel p {
    padding: 20px;
    margin-bottom: 0;
    font-style: italic;
    text-align: left;
}
.box-arrow-down { 
position: relative;
}

.box-arrow-down:after, .box-arrow-down:before { 
top: 100%; 
left: 100px; 
border: solid transparent; 
content: " "; 
height: 0; 
width: 0; 
position: absolute; 
pointer-events: none; 
}

.box-arrow-down:after { 
border-color: rgba(246, 249, 250, 0); 
border-top-color: #f4f4f4; 
border-width: 18px; 
margin-left: -18px; 
}

.box-arrow-down:before { 
border-color: rgba(220, 232, 237, 0); 
border-top-color: #E5E6EA; 
border-width: 21px; 
margin-left: -21px; 
}

.img {
    background-color: #f5f5f5;
    float: left;
    margin-right: 20px;
    margin-top: -5px;
    padding: 3px;
    border: 1px solid #f1f1f1;
}

*/

/***** Subscription form *****/

.subscribe-container {
	margin: 0 auto;
	padding-bottom: 50px;
	background: #f4f4f4;
	color: #888;
    text-align: center;
}

.subscribe {
    margin-top: 60px;
}

.subscribe h3 {
	color: #555;
}

.subscribe p {
	margin-top: 30px;
	font-size: 16px;
    line-height: 24px;
}

.subscribe form {
    margin-top: 40px;
    margin-bottom: 20px;
}

.subscribe form input {
    width: 362px;
    height: 52px;
}

.subscribe form button {
    width: 130px;
    height: 52px;
}

.success-message, .error-message {
    font-size: 22px;
    line-height: 36px;
}

.success-message {
	margin: 20px 0 10px 0;
}

.error-message {
	margin: 10px 0;
	color: #F00;
}

/***** Contact *****/

.contact-container {
	margin: 0 auto;
    background: #f4f4f4;
}

.contact {
    margin-top: 60px;
    padding-bottom: 20px;
    text-align: center;
}

.contact h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 300;
    color: #555;
    line-height: 36px;
}

.contact p {
	margin-top: 30px;
    color: #888;
	font-size: 16px;
    line-height: 24px;
}

.contact-form, 
.contact-address {
	padding-bottom: 80px;
}

.form-group h4,
.contact-address h4 {
	padding: 0 0 10px 0;
	font-size: 22px;
    font-weight: 300;
    color: #444;
    line-height: 28px;
}

.contact-form p {
	margin: 15px 0 0 0;
	font-size: 14px;
	color: #888;
	line-height: 32px;
}

.contact-form form {
	margin: 15px 0 0 0;
}

.contact-form form input, 
.contact-form form textarea {
    width: 90%;
    height: 52px;
    margin-bottom: 20px;
}

.contact-form form textarea {
	height: 162px;
    margin-bottom: 20px;
    padding: 0 10px;
    vertical-align: middle;
	background: #f5f5f5;
    border: none;
    border-bottom: 1px solid #E3E3E3;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #999;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.contact-form form button {
    width: 130px;
    height: 52px;
}

.contact-form form .contact-error {
	border-color: #F00;
}

.contact-address p {
	margin-bottom: 24px;
	color: #888;
	font-size: 14px;
    line-height: 24px;
}

.contact-address p i {
	padding-right: 15px;
	font-size: 18px;
	color: #FF6065;
	vertical-align: middle;
}


.category_header_control{
    display:inline-block;
    width:100%;
}
.chevron{
    display:inline-block;
    float:right;
}
.chevron:before
{
    content:"\e114";
}

.collapsed .chevron:before
{
    content:"\e080";
}
/***** Footer *****/

.follow-us {
text-align:center;
}

#footer h3 { 
    font-size: 32px;
    font-weight: 300;
    line-height: 36px;
}
#footer p {
	color: #fff;
	width: 60%;
	margin: 0 auto 40px;
	margin-top: 30px;
	font-size: 16px;
    line-height: 24px;
}

#footer { 
background-color: #FF797E; 
padding: 60px 0 60px; 
text-align:center; 
}

#footer2 {
	position:relative;
	text-align:center;
	padding:19px 0 16px; 
	background: #323A45;
	color:#999;
	margin:10pt 0 0 0; 
	font-size:13px;
	font-weight:400;
}
.footer .bottom-link-block a{
    display:block;
    text-align:left;
}
@media (max-width: 768px){
    .footer .bottom-link-block {
	margin-bottom:5pt;
    }
}

.copyright a {
color:#aaa; 
}

.copyright a:hover {
color: #FF6065; 
}



.social-icon {
	text-align: center;
    font-size: 26px;
    line-height: 46px;
    color: #FF6065;
	padding: 3px;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}
.social-icon :hover {
    color: #fff;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

/*control elements*/
.sidebar-categories{
    margin-top:20px;
}
.sidebar-categories .row.tree-header{
    margin-left:0;
    margin-right:0;
}
.rounded-table{
    border-collapse:separate;
    border-radius:4px;
}
.table.rounded-table >tbody>tr> td, 
.table.rounded-table >thead>tr> td, 
.table.rounded-table >thead>tr> th,
.table.rounded-table >tbody>tr> th{
    border-bottom:0;
    border-right:0;
}
.table.rounded-table tr> th:first-child, .table.rounded-table tr> td:first-child{
    border-left:0 ;
}

/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {


}

@media (min-width: 768px) and (max-width: 991px) {

	.top-content .text {
    	padding-top: 25px;
    }

    .features p,  .contact p {
    	padding: 0;
    }
.highlights {
	padding-left: 20px;
}

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

    body {
        padding-left: 0;
        padding-right: 0;
    }    
 
    .navbar-default.menu-top{
        background-color: #fff !important;
    border-bottom: 1px solid #eee;
        text-align: center;
    width:100%;
    }  
.navbar-default.menu-top li a{
    color: #323A45 !important;
}
.navbar-default.menu-top .navbar-brand{
    color: #323A45 !important;
}

    .top-content .text {
    	text-align: center;
    }
    


   .inner-bg {
	padding-top: 40px;
	padding-bottom: 40px;
    }
    .top-content h2 {
	font-size: 32px;
	line-height: 52px;
	margin: 20px 0 10px 0;
    }
    .description .point-lines {
	margin-bottom: 15px;
    }
    .description .point-lines li{
	margin-top:15px;
    }
    .top-content .description, .features p, .faq-text p, .subscribe p, .testimonials p, .team p, .contact p {
        padding: 0 20px;
	margin-top:20px;
	line-height:20px;
    }
    .features h3,  .faq-text h3, .subscribe h3, .testimonials h3, .team h3, .contact h3 {
        padding: 0 20px;
    }
    .features-box p, .team-member p, .contact-address p {
        padding: 0 20px;
    }
  
.follow-ups{
    display:block;
}
.features-box{
    border: none;
    flex:none;
}
  
.highlights {
	padding-left: 20px;
}
.intro-box-left {
	text-align: center;
}
.intro-box-right {
	text-align: center;
}

    .contact-form, .contact-address {
        text-align: center;
    }
    
    .contact-form {
        padding-bottom: 40px;
    }
    
.contact-form form input, 
.contact-form form textarea {
        width: 100%;
}

    .contact-address {
        padding-bottom: 65px;
    }
    
.reviews-panel p {
    padding: 20px;
    margin-bottom: 0;
}

    .copyright, .social-icon {
        text-align: center;
    }
    
    .copyright p {
        padding: 0 20px;
    }
    
    .social-icon {
        margin-top: 15px;
    }
    .downarrow{
	width:60px;
	height:60px;
	line-height:60px;
	right:2.5%;
    }
    .downarrow>.arrow-inner{
	height:30px;
	width:30px;
	margin-top:-15px;
    }
    .tree-header{
	display:none;
    }
    /*.category_tree_wrapper{
	display:none;
    }*/
    .sidebar-categories{
	margin-top:0;
    }
    .table-responsive > .kv-table-wrap.table > tbody > tr > td{
	white-space:normal;
    }
}

@media (max-width: 540px) {
.navbar-default.menu-top li a{
    color: #323A45 !important;
}
.navbar-default.menu-top .navbar-brand{
    color: #323A45 !important;
}

    .subscribe form input {
        width: 90%;
    }

    .subscribe form button {
        width: 90%;
        margin-top: 10px;
    }
    .downarrow{
	width:30px;
	height:30px;
	line-height:30px;
	position:fixed;
	right:1%;
	bottom:1%;
    }
    .downarrow>.arrow-inner{
	width:15px;
	height:15px;
	margin-top:-7.5px;
    }

}

@media (max-width: 400px) {
.navbar-default.menu-top li a{
    color: #323A45 !important;
}
.navbar-default.menu-top .navbar-brand{
    color: #323A45 !important;
}

}

@media (max-width: 345px) {

.navbar-default.menu-top li a{
    color: #323A45 !important;
}
.navbar-default.menu-top .navbar-brand{
    color: #323A45 !important;
}

    .top-content h2, .top-content .logo a, .features h3,  .product-button, .faq-text h3, .subscribe h3, .testimonials h3, .contact h3 {
        padding: 0 20px;
    }
.top-content .description {
    font-size: 22px;
    line-height: 32px;
}

	.btn-lg {
		height: auto;
		padding-bottom: 2px;
	}


	.btn-primary {
		height: auto;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	

}
/* ============  original yii2 site.css styles ============= */
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -140px;
    padding: 50px 0 140px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}



.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
h1{
    text-align:center;
    padding:10pt 5pt;
    margin-top:5pt;
}
.question{
    font-weight:bold;
}
.answer{
    margin-bottom:10pt;
}
.social-links a{
    display:inline-block;
}
.social-links a img{
    height:35pt;
}
.social-icon2{
    display:inline-block;
    height:64px;
    width:64px;
    background:url(../assets/img/social-icons2.jpg) no-repeat 0 0;
}
.social-icon2.social-icon-fb{
    background-position:0 0;
}
.social-icon2.social-icon-twitter{
    background-position:-65px 0;
}
.social-icon2.social-icon-vk{
    background-position:-129px 0;
}
.social-icon2.social-icon-telegram{
    background-position:-193px 0;
}

.icons-credits{
    margin-top:10pt;
    font-size:6.3pt;
    text-align:left;
}